@import '../variables.scss';

$feed-radius: 7px;

#feed-main{
    position: relative;
    background-color: $grey-blue-background;
    height: inherit;
    overflow: scroll;

    margin: 0px auto;         // 这一行 margin 的 auto 很重要！
    padding-top: 20px;
    flex-basis: 590px;

    display: flex;
    flex-direction: column;

    #text-area{
        border-radius: $feed-radius;
        @include shadow-light;
        background-color: white;
        padding: 12px 16px 10px;
        margin-bottom: 20px;

        #upper{
            $height: 40px;
            display: flex;
            justify-content: stretch;
            align-items: center;
            gap: 10px;

            img{
                @include round($height);
                object-fit: cover;
                cursor: pointer;
            }
            input{
                width: 100%;
                height: $height;
                border-radius: $height;
                text-indent: $height * 0.25;
                cursor: pointer;
                outline: none;
                border: none;
                background-color: $grey-normal-lighter;
                @include hover-effect;
            }
        }
        hr {
            margin: 12px 0;
        }
        #lower{
            height: 40px;
            display: flex;
            align-items: stretch;
            justify-content: space-around;
            div{
                @include centering;
                gap: 10px;
                flex-grow: 1;
                border-radius: $feed-radius;
                cursor: pointer;
                .ri{
                    height: 22px;
                    width: 22px;
                }
                @include hover-effect;
            }
            
            div:first-of-type .ri{
                color: $fb-red;
            }
            div:nth-of-type(2) .ri{
                color: $fb-green;
            }
            div:nth-of-type(3) .ri{
                color: $fb-yellow;
            }
        }
    }
}
// 675 ？
// 900
// 1160

@media screen and (min-width: 900px){
    #main-body2{
        gap: 10px;
    }
    #feed-main {
        // margin-left: 32px;
    }
    #top-nav-main{
        .search-icon{
            width: auto;
            flex-basis: 540px;
            margin: 0 auto;
        }
    }
    // #right-body-main{
    //     max-width: 280px;
    // }
}

@media screen and (max-width: 900px) {

    #right-body-main {
        display: none;
    }
}

@media screen and (min-width: 1160px) {
    #feed-main {
        margin: 0 32px;
    }
}