@import '../variables.scss';
@import './text-area.scss';
@import './one-feed.scss';


$feed-radius: 7px;

#feed-main{
    // position: relative;
    background-color: $grey-blue-background;
    height: inherit;
    overflow: scroll;

    margin: 0px auto;         // 这一行 margin 的 auto 很重要！
    padding-top: 20px;
    flex-basis: 590px;

    display: flex;
    flex-direction: column;

    @include textArea;
    @include oneFeed;
    
}
// 675 ？
// 900
// 1160

@media screen and (min-width: 900px){
    #main-body2{
        gap: 10px;
    }
    #feed-main {
        // margin-left: 32px;
    }
    #top-nav-main{
        .search-icon{
            width: auto;
            flex-basis: 540px;
            margin: 0 auto;
        }
    }
    // #right-body-main{
    //     max-width: 280px;
    // }
}

@media screen and (max-width: 900px) {

    #right-body-main {
        display: none;
    }
}

@media screen and (min-width: 1160px) {
    #feed-main {
        // margin: 0 32px;
    }
}