@import '../variables.scss';
@import './body-right-top.scss';
@import './body-right-contact.scss';
@import './chat-box.scss';

$img-size: 99px;

#body-right-main{
    flex-basis: 280px;
    flex-grow: 0.2;
    max-width: 350px;
    // border: 1px dashed brown;
    height: inherit;
    overflow: scroll;
    padding: 15px 0 15px 7px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    @include right-top;
    @include right-contact;
    @include right-chat;
}

@media screen and (max-width: 900px) {
    #body-right-main{
        display: none;
    }
}