@import "../variables.scss";

#sign-up-window {
    position: fixed;
    left: 0;
    top: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    // @include red;
    .mask {
        width: inherit;
        height: inherit;

        background-color: rgb(100, 100, 100, 0.5);
    }
    .window {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 400px;
        height: 500px;
        // @include red;
        background-color: $grey-normal-lighter;

        display: flex;
        flex-direction: column;
        align-items: center;

        .first-line {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3px 15px;
            margin-bottom: 10px;
            width: 100%;
            @include font-1(25px, black);
            @include shadow-light;
            .ri {
                @include round(24px);
                @include centering;
                @include hover-effect;
                color: $grey-normal;
            }
        }
        .row {
            flex-shrink: 0;

            position: relative;
            // @include red;
            height: 55px;
            width: 100%;
            display: flex;
            flex-direction: row;
            // justify-content: stretch;
            flex-wrap: nowrap;
            align-items: center;
            gap: 8px;
            padding: 0 8px;
            margin: 5px 0;
            input {
                background-color: $grey-blue-background;
                border: 1px solid $grey-normal;
                border-radius: 5px;
                outline: none;
                height: 65%;
                display: inline-block;
                flex-shrink: 1;
            }
        }

        .button {
            width: 150px;
            height: 40px;
            border-radius: 20px;
            @include font-1(20px, white, bold);
            @include centering;
            @include shadow-light;

            background-color: $fb-green;
            border: none;
            margin: auto;
        }
        // .pop-over {
        .choose-pro {
            color: white;
            background-color: $fb-yellow;
            $s: 32px;
            height: $s;
            border-radius: $s;
            width: 70%;
            position: relative;
            @include centering;
            @include shadow-light;
            @include hover-effect($grey-normal-light, 800ms);
            cursor: pointer;
            margin: auto;
            img {
                position: absolute;
                top: 110%;
                object-fit: cover;
                @include round(60px);
                @include shadow-light;
            }
            // .popover-body .pro-contain {
            //     width: 300px;
            //     height: 200px;
            //     @include red;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     .pro {
            //         // @include round(36px);
            //         width: 36px !important;
            //         height: 36px !important;
            //         object-fit: cover;
            //     }
            // }
        }
        // }
    }
}
