@import '../variables.scss';

#login-main {
    // @include red;
    background-color: $grey-blue-background;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    .official-sign-in {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
            cursor: pointer;
            margin: 7px;
            $h : 36px;
            border: 1px solid $grey-normal;
            height: $h;
            border-radius: $h;

            display: flex;
            align-items: center;
            padding: 0 15px;

            @include font-1(13px, $grey-dark, bold);
            transform: scale(1.1);
        }
        div:first-of-type{
            @include hover-effect(rgb(255, 100, 100), 150ms);
        }
        div:last-of-type {
            @include hover-effect(rgb(0, 145, 255), 150ms);
        }
    }
}

@media screen and (min-width: 900px) {

    #login-main {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #login-left {
        align-items: flex-start;
    }

    
}